<img class="lazyload snowflake"
     data-srcset="/_asset/img/snowflake.png 1x, /_asset/img/snowflake@2x.png 2x"
     alt=""/>

<div class="site-header">
	<img class="lazyload site-logo"
	     data-src="/_asset/img/logo.svg?v01"
	     alt="TTM BTC"/>

	<div class="lang">
		<div class="lang__head">Ru</div>
		<div class="lang__dropdown">
			<a class="lang__item" href="/en/">En</a>
		</div>
	</div><!--.lang-->

	<button type="button" class="burger hidden-desktop"></button>
</div><!--.site-header-->

<a class="btn fixed-btn" href="#">Купить за $100</a>

<div class="menu-mob">
	<ul class="menu-mob__list">
		<li><a class="js-to-screen" href="#section-main">Главная</a></li>
		<li><a class="js-to-screen" href="#section-technology">Технологии</a></li>
		<li><a class="js-to-screen" href="#section-design">Дизайн</a></li>
		<li><a class="js-to-screen" href="#section-features">Особенности</a></li>
		<li><a class="js-to-screen" href="#section-app">Приложение</a></li>
		<li><a class="js-to-screen" href="#section-gift">Подарок</a></li>
		<li><a class="js-to-screen" href="#section-buy">Купить сейчас</a></li>
	</ul>

	<button type="button" class="burger is-active"></button>
</div><!--.menu-mob-->
