<img class="lazyload snowflake"
     data-srcset="/_asset/img/snowflake.png 1x, /_asset/img/snowflake@2x.png 2x"
     alt=""/>

<div class="site-header">
	<img class="lazyload site-logo"
	     data-src="/_asset/img/logo.svg?v.01"
	     alt="TTM BTC"/>

	<div class="lang">
		<div class="lang__head">En</div>
		<div class="lang__dropdown">
			<a class="lang__item" href="/ru/">Ru</a>
		</div>
	</div><!--.lang-->

	<button type="button" class="burger hidden-desktop"></button>
</div><!--.site-header-->

<a class="btn fixed-btn" href="#">Buy for $ 100</a>

<div class="menu-mob">
	<ul class="menu-mob__list">
		<li><a class="js-to-screen" href="#section-main">Main</a></li>
		<li><a class="js-to-screen" href="#section-technology">Technology</a></li>
		<li><a class="js-to-screen" href="#section-design">Design</a></li>
		<li><a class="js-to-screen" href="#section-features">Features</a></li>
		<li><a class="js-to-screen" href="#section-app">Wallet App</a></li>
		<li><a class="js-to-screen" href="#section-gift">Gift</a></li>
		<li><a class="js-to-screen" href="#section-buy">Buy Now</a></li>
	</ul>

	<button type="button" class="burger is-active"></button>
</div><!--.menu-mob-->
