<div class="beetle-preload">
	<img src="_asset/img/beetle/Beetle_00001-min.png" alt=""/>
	<img src="_asset/img/beetle/Beetle_00002-min.png" alt=""/>
	<img src="_asset/img/beetle/Beetle_00003-min.png" alt=""/>
	<img src="_asset/img/beetle/Beetle_00004-min.png" alt=""/>
	<img src="_asset/img/beetle/Beetle_00005-min.png" alt=""/>
	<img src="_asset/img/beetle/Beetle_00006-min.png" alt=""/>
	<img src="_asset/img/beetle/Beetle_00007-min.png" alt=""/>
	<img src="_asset/img/beetle/Beetle_00008-min.png" alt=""/>
	<img src="_asset/img/beetle/Beetle_00009-min.png" alt=""/>
	<img src="_asset/img/beetle/Beetle_00010-min.png" alt=""/>
	<img src="_asset/img/beetle/Beetle_00011-min.png" alt=""/>
	<img src="_asset/img/beetle/Beetle_00012-min.png" alt=""/>
	<img src="_asset/img/beetle/Beetle_00013-min.png" alt=""/>
	<img src="_asset/img/beetle/Beetle_00014-min.png" alt=""/>
	<img src="_asset/img/beetle/Beetle_00015-min.png" alt=""/>
	<img src="_asset/img/beetle/Beetle_00016-min.png" alt=""/>
	<img src="_asset/img/beetle/Beetle_00017-min.png" alt=""/>
	<img src="_asset/img/beetle/Beetle_00018-min.png" alt=""/>
	<img src="_asset/img/beetle/Beetle_00019-min.png" alt=""/>
	<img src="_asset/img/beetle/Beetle_00020-min.png" alt=""/>
</div>